{% extends 'base.html.twig' %}
{% block body %}


    <!-- Content-->





    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {#                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">Home</a></li>#}
                        <li class="breadcrumb-item active">Produits</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Table des produits</h3>
                    </div>

                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <a href="{{ path('produit_add') }}"  class="btn btn-success" >Ajouter un nouveau produit !</a>
                                </div>

                            </div>
                            {% if produits %}
                            <div class="card-body table-responsive p-0">
                                <table id="#example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nom</th>
                                        <th>Quantité</th>
                                        <th>Prix</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for produits in produits %}
                                        <tr>
                                            <td>{{ produits.id }}</td>
                                            <td>{{ produits.nom }}</td>
                                            <td>{{ produits.quantite }}</td>
                                            <td>{{ produits.prix }}</td>
                                            <td align="center">
                                                <a href="{{ path('produit_edit',{'id':produits.id }) }}" class="btn btn-warning"> <i class="fas fa-pencil-alt"></i> Modifier</a>
                                                <a href="{{ path('produit_delete',{'id':produits.id }) }}" class="btn btn-danger" onclick="return confirm('Voulez vous vraiment supprimer cet utilisateur ?')"> <i class="fas fa-trash"></i> Supprimer</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <p>Aucun utilisateur n'a été trouvé</p>
                                {% endif %}
                                <br>
                                {#                                <div class="navigation">#}
                                {#                                    {{ knp_pagination_render(users) }}#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}