{% extends 'fronts.html.twig' %}
{% block body %}




    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {#                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">Home</a></li>#}
                        <li class="breadcrumb-item active">Produits</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Table des produits</h3>
                    </div>

                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row mb-2">

                            </div>
                            {% if produits %}
                            <div class="card-body table-responsive p-0">
                                <table id="#example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>

                                        <th>Nom</th>
                                        <th>Quantité</th>
                                        <th>Prix</th>
                                        <th>Catégorie</th>
                                        <th>Rating</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for produits in produits %}
                                        <tr>

                                            <td>{{ produits.nom }}</td>
                                            <td>{{ produits.quantite }}</td>
                                            <td>{{ produits.prix }}</td>
                                            <td>{{ produits.categories.nom }}</td>
                                            <td>
                                                <div class="rate">
                                                    <input type="radio" id="star5" name="rate" value="5" />
                                                    <label for="star5" title="text">5 stars</label>
                                                    <input type="radio" id="star4" name="rate" value="4" />
                                                    <label for="star4" title="text">4 stars</label>
                                                    <input type="radio" id="star3" name="rate" value="3" />
                                                    <label for="star3" title="text">3 stars</label>
                                                    <input type="radio" id="star2" name="rate" value="2" />
                                                    <label for="star2" title="text">2 stars</label>
                                                    <input type="radio" id="star1" name="rate" value="1" />
                                                    <label for="star1" title="text">1 star</label>
                                                </div>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <p>Aucun utilisateur n'a été trouvé</p>
                                {% endif %}
                                <br>
                                {#                                <div class="navigation">#}
                                {#                                    {{ knp_pagination_render(users) }}#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block javascripts %}
<script>$(function() {
$(".heart").on("click", function() {
$(this).toggleClass("is-active");
});
});
    </script>
{% endblock %}