{% extends 'base.html.twig' %}
{% block body %}


    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {#                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">Home</a></li>#}
                        <li class="breadcrumb-item active">Catégories</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Table des catégories</h3>
                    </div>

                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <a href="{{ path('categorie_add') }}"  class="btn btn-success" >Ajouter une catégorie  !</a>
                                </div>

                            </div>


                            {% if categories %}
                            <div class="card-body table-responsive p-0">
                                <table id="#example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nom</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for categories in categories %}

                                        <tr>
                                            <td>{{ categories.id }}</td>
                                            <td>{{ categories.nom }}</td>

                                            <td align="center">
                                                <a href="{{ path('Categorie_delete',{'id':categories.id }) }}" class="btn btn-danger" onclick="return confirm('Voulez vous vraiment supprimer cet catégorie ?')"> <i class="fas fa-trash"></i> Supprimer</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <p>Aucun utilisateur n'a été trouvé</p>
                                {% endif %}
                                <br>
                                {#                                <div class="navigation">#}
                                {#                                    {{ knp_pagination_render(users) }}#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}